/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* NativeSelect{
  background: #DFDFDF !important;
  color:#111111 !important;
  font-size: 16px !important;
} */
table{
  font-size: 14px;

}
table th{
 font-weight:bold;
}
.MuiTableRow-root .material-table__row th{
background-color: blue !important;
}
select {
  background: #DFDFDF !important;
  color:#111111 !important;
  font-size: 16px !important;
  /* border: 1px solid #666666 !important; */
}
.SelectLabel{
  color: #111111;
  font-size: 16px !important;
  font-weight: bold !important;
}
.tab1 {
  border: 3px solid #BCA231 !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
}

.tab2  {
  border: 3px solid #BCA231 !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
}
.yellowColor{
  color:#BCA231 !important;
}
.TabIndicator {
  /* background-color: #1E2F50 !important; */
}
.PrivateTabIndicator-colorSecondary-3{
  color:#BCA231 !important;
}