.MuiToolbar-dense {
  min-height: 67px !important;
  background-color :#091D42 !important;
}
.AppBody {
  padding-top: 3% !important;
  width: 100%;
}

/* NativeSelect{
  background: #DFDFDF !important;
  color:#111111 !important;
  font-size: 16px !important;
} */

.material-table {
  font-size:14px !important;
  cursor: pointer; 
  font-weight: 200;
  border-collapse: collapse !important;
  border-collapse: separate !important;
  border-spacing: 0 16px !important;
}
.material-table__row{
  background-color: #E5E5E5;
  padding: 1rem;
}
.material-table__row:hover { 
  background: #FBEA9D !important;
}

.material-table__cell {
  padding: 1.5em !important;
  /* position: relative; */
}

.MuiTableRow-root .material-table__row th{
background-color: blue !important;
}
select {
  background: #DFDFDF !important;
  color:#111111 !important;
  font-size: 16px !important;
  /* border: 1px solid #666666 !important; */
}
.SelectLabel{
  color: #111111;
  font-size: 16px !important;
  font-weight: bold !important;
}
.tab1 {
  border: 3px solid #BCA231 !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
}

.tab2  {
  border: 3px solid #BCA231 !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
}
.yellowColor{
  color:#BCA231 !important;
}
.TabIndicator {
  /* background-color: #1E2F50 !important; */
}
.PrivateTabIndicator-colorSecondary-3{
  color:#BCA231 !important;
}