.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
select {
  background: #DFDFDF !important;
  color:#111111 !important;
  font-size: 16px !important;
  /* border: 1px solid #666666 !important; */
}
.SelectLabel{
  color: #111111;
  font-size: 16px !important;
  font-weight: bold !important;
}
.tab1 {
  border: 3px solid #BCA231 !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
}

.tab2  {
  border: 3px solid #BCA231 !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
}

.TabIndicator {
  /* background-color: #1E2F50 !important; */
}